.titulo-slogan{
    font-optical-sizing: auto;
    padding-top: 0;
    margin: 0;
    font-family: "Shrikhand", serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
}
.titulo-dos{
    font-family: "Caveat", cursive;
    font-size: 2em;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: -15px 0 0 0px;
}